<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
        <nav>
            <div class="navbar bg-dark">
                <div class="container-fluid">
                    <h1 class="navbar-brand text_dark_bg"> <a class="link_no_decoration" href={{ url_for("home_page") }} style="color: white;"> SproutWealth </a> </h1>
                    <div>
                        <button class="btn button_dark_bg"> Home </button>
                        <button class="btn button_dark_bg"> Resources </button>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer>
            <div class="footer">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h3 class="text_dark_bg"> Lorem Ipsum </h3>
                        <ul>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3 class="text_dark_bg"> Lorem Ipsum </h3>
                        <ul>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3 class="text_dark_bg"> Lorem Ipsum </h3>
                        <ul>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                            <li class="text_dark_bg"> Lorem Ipsum </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>