{% extends "layout.html" %}
{% block content %}
    <div class="resources_body text-center">
        <h1 class="text-center"> Stock Market </h1>
        <h4 class="text-center"> To learn more about the stock market, here are some resources to help your search: </h4>
        <h5> Stock Market </h5>
        <ul class="list_no_decoration">
            <li style="list_no_decoration"> <a href="https://finance.yahoo.com" target="_blank"> Yahoo Finance </a> </li>
            <li> <a href="https://www.nyse.com/index" target="_blank"> New York Stock Exchange </a> </li>
        </ul>

        <h5> Stock Market Explained </h5>
            <ul class="list_no_decoration">
                <li> <a href="https://www.investopedia.com/terms/s/stockmarket.asp" target="_blank"> What is the stock market </a> </li>
                <li> <a href="https://www.forbes.com/advisor/investing/what-is-the-stock-market/" target="_blank"> How does it work? </a> </li>
            </ul>

        <h1 class="text-center"> Crypto Market/Blockchain </h1>
        <h4 class="text-center"> To learn more about the crypto market, here are some resources to help your search: </h4>
        <h5> Blockchain: </h5>
        <ul class="list_no_decoration">
            <li> <a href="https://www.blockchain.com" target="_blank"> Blockchain.com </a> </li>
            <li> <a href="https://www.investopedia.com/terms/b/blockchain.asp" target="_blank"> How does blockchain work? </a> </li>
            <li> <a href="https://www.forbes.com/advisor/investing/cryptocurrency/what-is-blockchain/" target="_blank"> Understanding Blockchain </a> </li>
        </ul>
        <br>
        <h5> Bitcoin </h5>
            <ul class="list_no_decoration">
                <li> <a href="https://www.investopedia.com/terms/b/bitcoin.asp#:~:text=Unlike%20fiat%20currency%2C%20Bitcoin%20is,new%20bitcoins%20into%20the%20system." target="_blank"> How Bitcoin Works </a> </li>
                <li> <a href="https://www.investopedia.com/tech/how-does-bitcoin-mining-work/" target="_blank"> How Bitcoin Mining Works </a> </li>
            </ul>
        
        <h5> Ethereum </h5>
            <ul class="list_no_decoration">
                <li> <a href="https://ethereum.org/en/what-is-ethereum/" target="_blank"> Ethereum.org </a> </li>
                <li> <a href="https://www.investopedia.com/terms/e/ethereum.asp" target="_blank"> How does Ethereum work? </a> </li>
                <li> <a href="https://www.simplilearn.com/tutorials/blockchain-tutorial/ethereum-mining#:~:text=In%20simple%20words%2C%20Ethereum%20Mining,get%20approved%20by%20the%20miners." target="_blank"> What is Ethereum mining </a> </li>
            </ul>
    </div>
{% endblock content %}